{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                    <a href="{{ cancel_url }}" class="btn btn-secondary ms-2">Скасувати</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
